.to-read-button {
  border: none;
  outline:none;
  border-radius: 6px;
  color: white;
  background-color: rgb(51, 118, 205);
  height: 32px;
  min-width: 120px;
  text-align: center;
  /* margin-left: auto; */
  align-self: center;
}

.to-read-button:hover {
  cursor: pointer;
}